<?xml version="1.0" encoding="utf-8" standalone="no"?>
<application xmlns="http://ns.adobe.com/air/application/3.1">
  <!-- A universally unique application identifier. Must be unique across all AIR applications.
	Using a reverse DNS-style name as the id is recommended. (Eg. com.example.ExampleApplication.) Required. -->
  <id>com.playhaven.airharness</id>
  <!-- Used as the filename for the application. Required. -->
  <filename>PlayHavenEx</filename>
  <!-- The name that is displayed in the AIR application installer. -->
  <name>PlayHavenEx</name>
  <!-- A string value of the format <0-999>.<0-999>.<0-999> 
	It MUST be three parts separated by periods. Required. -->
  <versionNumber>1.0.0</versionNumber>
  <!-- A string value (such as "v1", "2.5", or "Alpha 1") that represents the version of the 
	application, as it should be shown to users. Optional. -->
  <versionLabel>v1.0.0</versionLabel>
  <!-- Settings for the application's initial window. Required. -->
  <initialWindow>
    <!-- The main SWF or HTML file of the application. Required. -->
    <content>anesample.swf</content>
    <!-- Should the app figure out which way to orient itself? -->
    <autoOrients>false</autoOrients>
    <!-- What is the standard aspect ratio, landscape or portrait? -->
    <aspectRatio>portrait</aspectRatio>
    <renderMode>cpu</renderMode>
    <fullScreen>true</fullScreen>
    <systemChrome>standard</systemChrome>
  </initialWindow>
  <iPhone>
	  <requestedDisplayResolution>high</requestedDisplayResolution>
  </iPhone>
  <android>
        <manifestAdditions><![CDATA[
			<manifest android:installLocation="auto">
			    <uses-permission android:name="android.permission.INTERNET"/>
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
				<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
				<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
				<application>
					<activity android:name="com.playhaven.src.publishersdk.content.PHContentView" android:theme="@android:style/Theme.Dialog" android:windowSoftInputMode="adjustResize"></activity>
				</application>
			</manifest>			
		]]></manifestAdditions>
    </android>
  

  <extensions>
    <extensionID>com.playhaven.extensions.PlayHaven</extensionID>
	</extensions>
</application>
